# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Entorno
.env

# Archivos de construcción
dist/
build/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de configuración de IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos de logs
logs/
*.log